.explosion-container {
    position: absolute;
    right: 210px;
    top: 70px;
    height: 100px;
    width: 100px;
}

.explosion-container.start .explosion-piece {
    right: 35px !important;
    top: 30px !important;
    height: 30px !important;
    width: 30px !important;
}

.explosion-piece {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #e30000;
    transition: all 1s ease-out;
    z-index: 11;
}

@media (max-width: 850px) {
    .explosion-container {
        right: 126px;
        top: 42px;
        height: 60px;
        width: 60px;
    }
}