@keyframes typewriter {
    from {width: 0}
    to {width: 100%;}
}

@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1;}
}

.game-start-container,
.game-win-container,
.game-lose-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: 'Black Ops One', cursive;
    color: #e30000;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.game-win-container,
.game-lose-container {
    animation: fade-in 1.5s ease-in-out;
    z-index: 3;
}

.game-start-inner-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.game-start-inner {
    position: absolute;
    width: 680px;
    top: 240px;
    left: calc(50% - 330px);
}

.hidden {
    display: none;
}

.game-end-title {
    font-size: 60px;
}

.game-start {
    padding-bottom: 40px;
}

.game-end {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#game-start > p {
    padding: 0px 10px;

}

.game-start-text {
    font-size: 30px;
    padding: 20px 0;
}

.text-end {
    font-size: 30px;
    padding: 20px 0;
    animation: typewriter 2s steps(40, end);
    overflow: hidden;
    white-space: nowrap;
}

.game-end-btn {
    display: flex;
    justify-content: center;
}

.game-start-btn {
    position: absolute;
    font-size: 30px;
    border: 1px solid #e30000;
    padding: 5px 10px;
    animation: delay 4s;
    bottom: 200px;
    animation: fade-in .5s ease-in-out;
}

.game-start-btn:hover {
    background-color: #e30000;
    color: white;
}

@media (max-width: 850px) {
    .game-start-container,
    .game-win-container,
    .game-lose-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .game-start-inner {
        top: 144px;
        left: 5%;
    }

    .game-end-title {
        font-size: 5vw;
    }
    
    .game-start-text {
        font-size: 3.5vw;
        padding: 10px 0;
    }

    .text-end {
        font-size: 3.5vw;
        padding: 20px 20px;
    }

    .game-start-btn {
        font-size: 5vw;
        bottom: 60px;
    }
}