body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.main-title {
    color: red;
    font-size: 60px;
    padding: 20px;
    font-family: 'Black Ops One', cursive;
}

#game-canvas {
    border: 10px solid red;
}