body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
}

.main-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    color: #e30000;
    font-size: 60px;
    padding: 5px 0 0px;
    font-family: 'Black Ops One', cursive;
    z-index: 3;
}

.level-title {
    color: #e30000;
    font-size: 40px;
    /* padding-bottom: 10px; */
    font-family: 'Black Ops One', cursive;
    z-index: 3;
    display: flex;
}

.level-number {
    padding: 0 10px;
}

#game-canvas {
    border: 10px solid #e30000;
}

.icon-links {
    padding: 20px;
    z-index: 4;
    display: flex;
}

.github-icon,
.linkedin-icon,
.volume-icon {
    color: #e30000;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
}

.github-icon:hover,
.linkedin-icon:hover,
.volume-icon:hover {
    color: #a00000;
}

@media (max-width: 850px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        position: relative;
    }

    .main-title {
        font-size: 9vw;
    }

    .level-title {
        font-size: 6vw;
    }

    .icon-links {
        /* position: absolute;
        bottom: 0px; */
        padding: 0 20px 20px;
        z-index: 4;
        display: flex;
    }

    .github-icon,
    .linkedin-icon,
    .volume-icon {
        font-size: 20px;
    }
}