.wick-container {
    height: 250px;
    width: 250px;
    /* background-color: white; */
    position: absolute;
    top: 5px;
    right: 250px;
    /* z-index: -1; */
}

.wick-inner-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.wick-outer-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -2;
    background-image: repeating-linear-gradient(90deg, #9b2828, #9b2828 10px, #691b1b 2px, #691b1b 11px);
        /* #9b2828 10px, */
        
        /* #691b1b 20px, */
    /* ); */
    /* background-color: #9b2828; */
    border: 2px solid black;
    /* box-shadow: 2px 2px 8px -8px #530500; */

}

.wick-inner-circle {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: #666666;
    z-index: -2;
    border: 2px solid black;
    box-shadow: 2px -2px 4px #530500;
}

.wick-cover {
    position: absolute;
    bottom: -10px;
    left: -20px;
    width: 300px;
    height: 160px;
    /* border-radius: 50%; */
    background-color: #666666;
    z-index: -2;
    /* border: 2px solid black; */
    transform: rotate(15deg);
}

.rotate-container {
    /* animation: turn 25s linear; */
    z-index: -2;
}

@keyframes turn {
    from {transform: rotate(0deg)}
    to {transform: rotate(180deg)}
}